
<!doctype html>
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
    <title>{{ site.name }}</title>

    <meta carset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/site.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.dev.min.js"></script>
</head>
<body>
    <h1 class="logo">
        <a href="/index.html">GeoMesa</a>
    </h1>
    <div class="tagline">
        <h2>Store, index, query, and transform spatio-temporal data at scale in Accumulo</h2>
    </div>
    <div class="container page-content">
