
<!doctype html>
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
    <title>
        {% if page.title %}
        {{ page.title }} &middot;
        {% endif %}
        {{ site.name }}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/modernizr.dev.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53087457-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>

<!-- navbar-default in following makes the hamburger menu appear and resets the colors -->
 <nav class="navbar navbar-default">
  <div class="container-fluid">

         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
          </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://github.com/locationtech/geomesa/releases/latest" class="dropdown-toggle" role="button">download</a>
        </li>
        <li>
          <a href="/documentation/tutorials/index.html" class="dropdown-toggle" role="button">quick start</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">documentation</a>
          <ul class="dropdown-menu">
            <li><a href="/documentation/user/index.html">{{ site.stableVersion }} User Manual</a></li>
            <li><a href="/documentation/developer/index.html">{{ site.stableVersion }} Developer Manual</a></li>
            <li><a href="/documentation/tutorials/index.html">{{ site.stableVersion }} Tutorials</a></li>
            <li><a href="https://geomesa.atlassian.net/wiki/display/GEOMESA/GeoMesa+{{ site.stableVersion }}+Release+Notes">{{ site.stableVersion }} Release Notes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/documentation/current/">Nightly (SNAPSHOT) Manuals</a></li>
            <li class="dropdown-header">Previous Releases</li>
	    <li><a href="/documentation/2.1.3/">2.1.3 Manuals</a></li>
            <li><a href="/documentation/2.0.2/">2.0.2 Manuals</a></li>
            <li><a href="/documentation/1.3.5/">1.3.5 Manuals</a></li>
            <li><a href="/documentation/1.3.4/">1.3.4 Manuals</a></li>
            <li><a href="/documentation/1.3.3/">1.3.3 Manuals</a></li>
            <li><a href="/documentation/1.3.2/">1.3.2 Manuals</a></li>
            <li><a href="/documentation/1.3.1/">1.3.1 Manuals</a></li>
            <li><a href="/documentation/1.3.0/">1.3.0 Manuals</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">resources</a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/locationtech/geomesa">View Source on GitHub</a></li>
	    <li><a href="https://github.com/locationtech/geomesa#join-the-community">Community Support</a></li>
            <li><a href="http://www.ccri.com/geomesa-information-request/">Professional Support by CCRi</a></li>
            <li><a href="/outreach/">Presentations and Papers</a></li>
          </ul>
        </li>
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container page-content">
<!-- end of header.html -->
