<section id="site-nav" class="sidebar">
    <div class="toolbar">
        <div id="toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </div>
    <div class="collapsed content">
        <h3>Get started</h3>
        <nav>
            <ul class="list-unstyled">
                <li><a href="/#downloads">Downloads</a></li>
                <li><a href="/geomesa-deployment/">Deployment</a></li>
                <li><a href="/#quick-start">Quick start</a></li>
                <!-- <li><a href="/documentation/">Read the documentation</a></li> -->
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/#support">Report a bug</a></li>
            </ul>
        </nav>
        <h3>Professional Support</h3>
        <nav>
            <ul class="list-unstyled">
                <li><a href="http://www.ccri.com/contact/geomesa-information-request/">Professional support by CCRi</a></li>
            </ul>
        </nav>

        <h3>Resources</h3>
        <nav>
            <ul class="list-unstyled">
                <li><a href="{{ site.repoUrl }}" target="_blank">View source on GitHub</a></li>
                <li><a href="/#support">Support</a></li>
                <li><a href="/#get-involved">Get involved</a></li>
                <li><a href="/outreach/">Presentations and Papers</a></li>
            </ul>
        </nav>

        <h3>Tutorials</h3>
        <nav>
            <ul class="list-unstyled">
                <li><a href="/tutorials/">Overview</a></li>
                <li><a href="/geomesa-deployment/">GeoMesa Deployment</a></li>
                <li><a href="/geomesa-quickstart/">GeoMesa Accumulo Quick Start</a></li>
                <li><a href="/geomesa-kafka-quickstart/">Geomesa Kafka Quick Start</a></li>
                <li><a href="/tutorials/all">All...</a></li>
            </ul>
        </nav>
    </div>
</section>
