<section id="site-nav" class="sidebar">
    <div class="toolbar">
        <div id="toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </div>
    <div class="collapsed content">
        <h3>Get started</h3>
        <nav>
            <ul class="list-unstyled">
                <li><a href="/#quick-start">Quick start</a></li>
                <!-- <li><a href="/documentation/">Read the documentation</a></li> -->
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/#report-a-bug">Report a bug</a></li>
            </ul>
        </nav>

        <h3>Resources</h3>
        <nav>
            <ul class="list-unstyled">
                <li><a href="{{ site.repoUrl }}" target="_blank">View source on GitHub</a></li>
                <li><a href="/#downloads">Downloads</a></li>
                <li><a href="/#support">Support</a></li>
                <li><a href="/#get-involved">Get involved</a></li>
                <li><a href="/outreach/">Presentations and Papers</a></li>
            </ul>
        </nav>

        <h3>Tutorials</h3>
        <nav>
            <ul class="list-unstyled">
                {% for tutorial in site.posts %}
                    <li><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>
