name: release-docs

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'GeoMesa release tag'
        required: true
        type: string

env:
  JAVA_VERSION: 17
  MAVEN_CLI_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dtest.fork.count=1 --batch-mode

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GeoMesa source
        uses: actions/checkout@v4
        with:
          repository: locationtech/geomesa
          ref: ${{ github.event.inputs.tag }}
          path: geomesa
      - name: Configure git user
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email '7715322+elahrvivaz@users.noreply.github.com'
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "${{ env.JAVA_VERSION }}"
          cache: maven
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Python dependencies
        working-directory: ./geomesa
        run: |
          python -m pip install --upgrade pip
          pip install -r ./docs/requirements.txt
      - name: Set environment
        run: |
          TAG="${{ github.event.inputs.tag }}"
          RELEASE="${TAG#geomesa-}"
          RELEASE_SHORT="${RELEASE%.*}"
          echo "RELEASE=$RELEASE" >> $GITHUB_ENV
          echo "RELEASE_SHORT=$RELEASE_SHORT" >> $GITHUB_ENV
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          path: geomesa.github.io
          sparse-checkout: |
            documentation/${{ env.RELEASE_SHORT }}
            documentation/stable
            _includes
            _config.yml
      - name: Prep docs directory
        working-directory: ./geomesa.github.io
        run: |
          # move current docs to a versioned folder
          if [[ -d "documentation/$RELEASE_SHORT" ]]; then
            # new bug fix on older release
            rm -r "documentation/$RELEASE_SHORT/*"
          else
            LAST_RELEASE="$(grep stableVersion: _config.yml | awk '{ print $2 }' | sed "s/[\"', ]//g")"
            if [[ -z "$LAST_RELEASE" ]]; then
              echo "Error: unable to determine last release version"
              exit 1
            fi
            LAST_RELEASE_SHORT="${LAST_RELEASE%.*}"
            if [[ "$LAST_RELEASE_SHORT" == "$RELEASE_SHORT" ]]; then
              # new bug fix on latest release
              rm -r "documentation/$RELEASE_SHORT/*"
            else
              # new major/minor release
              mkdir "documentation/$RELEASE_SHORT/"
              pushd documentation
              rm stable
              ln -s "$RELEASE_SHORT" stable
              popd
              # add link to previous docs
              sed -i "s|<li class=\"dropdown-header\">Previous Releases</li>|\0\n            <li><a href=\"/documentation/${LAST_RELEASE_SHORT}/\">${LAST_RELEASE}</a></li>|" _includes/header.html
            fi
            # update 'stable version'
            sed -i "s/^stableVersion:.*/stableVersion: \"$RELEASE\"/" _config.yml
          fi
      - name: Build docs
        working-directory: ./geomesa
        run: |
          mvn $MAVEN_CLI_OPTS clean install -Pdocs -pl docs
      - name: Copy docs
        run: |
          cp -r ./geomesa/docs/target/html/* "./geomesa.github.io/documentation/$RELEASE_SHORT/"
      - name: Build site docs
        working-directory: ./geomesa
        run: |
          # first, update the pom url so that dependency links work
          sed -i "s|<url>https://www.geomesa.org/</url>|<url>https://www.geomesa.org/documentation/$RELEASE_SHORT/site/</url>|" pom.xml
          mvn $MAVEN_CLI_OPTS clean package -Pscoverage
          mvn $MAVEN_CLI_OPTS generate-sources site -Psite
          mvn $MAVEN_CLI_OPTS site:stage -DstagingDirectory="$PWD/../geomesa.github.io/documentation/$RELEASE_SHORT/site/"
      - name: Commit docs
        working-directory: ./geomesa.github.io
        run: |
          git add documentation
          git add -u
          git commit -m "Updating docs for ${RELEASE}"
          git push origin main
